In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Seymchan,RU,62.8833,152.4333,288.56,72,100,2.77
1,1,Longyearbyen,SJ,78.2186,15.6401,282.06,87,75,3.60
2,2,Mataura,NZ,-46.1927,168.8643,280.08,80,96,0.97
3,3,Avarua,CK,-21.2078,-159.7750,296.18,73,75,4.12
4,4,Punta Arenas,CL,-53.1500,-70.9167,275.21,64,75,21.09

In [3]:
city_data_df.count()

City_ID       565
City          565
Country       560
Lat           565
Lng           565
Max Temp      565
Humidity      565
Cloudiness    565
Wind Speed    565
dtype: int64

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
Max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights= Max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 280
What is the maximum temperature you would like for your trip? 295

In [8]:
min_temp

280.0

In [9]:
max_temp

295.0

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                       
preferred_cities_df.head(50)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Seymchan,RU,62.8833,152.4333,288.56,72,100,2.77
1,1,Longyearbyen,SJ,78.2186,15.6401,282.06,87,75,3.60
2,2,Mataura,NZ,-46.1927,168.8643,280.08,80,96,0.97
7,7,Port Alfred,ZA,-33.5906,26.8910,285.47,97,100,1.34
9,9,Ventspils,LV,57.3894,21.5606,289.11,94,0,0.00
10,10,Okahandja,NaN,-21.9833,16.9167,281.51,46,0,3.41
15,15,Narsaq,GL,60.9167,-46.0500,282.27,89,99,0.36
17,17,San Cristobal,VE,7.7669,-72.2250,294.25,95,100,1.15
18,18,Cherskiy,RU,68.7500,161.3000,281.23,62,94,6.98
20,20,Busselton,AU,-33.6500,115.3333,291.44,68,79,7.50
22,22,Hermanus,ZA,-34.4187,19.2345,283.78,75,25,2.35
23,23,Bakel,SN,14.9050,-12.4568,294.86,88,76,5.94
29,29,Dikson,RU,73.5069,80.5464,281.30,61,81,6.95
32,32,Berlevag,NO,70.8578,29.0864,285.15,100,75,4.12
34,34,Barcelos,PT,41.5388,-8.6151,289.77,94,5,1.86
38,38,Norman Wells,CA,65.2820,-126.8329,292.17,52,40,1.03
40,40,Hobart,AU,-42.8794,147.3294,282.74,66,20,2.57
41,41,Talaya,RU,61.3833,152.7500,293.06,71,100,4.72
42,42,Upernavik,GL,72.7868,-56.1549,280.59,77,90,2.34
43,43,Nikolskoye,RU,59.7035,30.7861,289.70,78,26,4.78
45,45,New Norfolk,AU,-42.7826,147.0587,282.55,54,4,0.81
49,49,Lompoc,US,34.6391,-120.4579,287.36,95,100,1.54
50,50,Melnikovo,RU,56.5558,84.0850,288.85,92,95,2.57
51,51,Morden,CA,49.1919,-98.1014,294.07,78,97,5.14
52,52,North Bend,US,43.4065,-124.2243,288.10,96,100,2.57
55,55,Talnakh,RU,69.4865,88.3972,289.38,52,95,2.76
56,56,Peterhead,GB,57.5058,-1.7981,289.37,94,76,3.34
57,57,Hvolsvollur,IS,63.7533,-20.2243,281.55,89,96,3.56
58,58,Bluff,NZ,-46.6000,168.3333,280.26,69,100,4.58
60,60,Saskylakh,RU,71.9167,114.0833,282.71,50,96,6.94
62,62,Constitucion,CL,-35.3333,-72.4167,280.89,60,0,3.00
63,63,Castro,BR,-24.7911,-50.0119,287.08,98,19,2.40
64,64,Guerrero Negro,MX,27.9769,-114.0611,294.59,76,5,4.56
65,65,Iki-Burul,RU,45.8208,44.6472,292.27,66,100,1.20
70,70,Bredasdorp,ZA,-34.5322,20.0403,280.25,87,11,1.44
72,72,Beloha,MG,-25.1667,45.0500,291.46,58,0,5.02
76,76,Arraial Do Cabo,BR,-22.9661,-42.0278,293.24,91,0,2.93
79,79,Whitehorse,CA,60.7161,-135.0538,287.60,60,75,5.66
80,80,Peniche,PT,39.3558,-9.3811,292.75,88,6,9.02
81,81,Kruisfontein,ZA,-34.0033,24.7314,283.64,92,100,2.77
83,83,Chokurdakh,RU,70.6333,147.9167,284.72,55,94,4.81
85,85,Cape Town,ZA,-33.9258,18.4232,287.25,81,20,3.60
86,86,Prince Rupert,CA,54.3161,-130.3201,286.98,89,0,4.63
88,88,Yellowknife,CA,62.4560,-114.3525,290.44,82,40,4.63
89,89,Ponta Do Sol,PT,32.6667,-17.1000,294.50,75,17,2.44
90,90,Mar Del Plata,AR,-38.0023,-57.5575,280.42,82,0,4.63
91,91,Bara,NG,10.3744,10.7288,294.74,94,96,1.37
98,98,Ecoporanga,BR,-18.3733,-40.8306,290.59,98,19,0.57
100,100,Half Moon Bay,US,37.4636,-122.4286,290.40,87,100,9.77
102,102,East London,ZA,-33.0153,27.9116,287.67,94,100,3.60

In [11]:
preferred_cities_df.count()

City_ID       256
City          256
Country       252
Lat           256
Lng           256
Max Temp      256
Humidity      256
Cloudiness    256
Wind Speed    256
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0        Seymchan      RU    288.56  62.8833  152.4333
1    Longyearbyen      SJ    282.06  78.2186   15.6401
2         Mataura      NZ    280.08 -46.1927  168.8643
7     Port Alfred      ZA    285.47 -33.5906   26.8910
9       Ventspils      LV    289.11  57.3894   21.5606
10      Okahandja     NaN    281.51 -21.9833   16.9167
15         Narsaq      GL    282.27  60.9167  -46.0500
17  San Cristobal      VE    294.25   7.7669  -72.2250
18       Cherskiy      RU    281.23  68.7500  161.3000
20      Busselton      AU    291.44 -33.6500  115.3333

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]['name']
    except (IndexError):
      print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotels["results"][0].keys()

dict_keys(['business_status', 'geometry', 'icon', 'icon_background_color', 'icon_mask_base_uri', 'name', 'opening_hours', 'photos', 'place_id', 'plus_code', 'rating', 'reference', 'scope', 'types', 'user_ratings_total', 'vicinity'])

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°K</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]