## Deliverable 3. Create a Travel Itinerary Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Mackenzie,CA,289.82,overcast clouds,55.2999,-123.1698,Hilton Shop
1,2,Vaini,TO,295.36,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
2,4,Kijang,KR,299.60,overcast clouds,35.2442,129.2139,Samyang Beach Villa
3,5,Sochi,RU,292.20,clear sky,43.6000,39.7303,Bounty Hotel
4,7,Camar,RO,293.88,broken clouds,47.3000,22.6167,Cămin cultural Camăr

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd></dd>{Max Temp} °K</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [62]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City == 'Aviles',['Lat','Lng']]
vacation_end = vacation_df.loc[vacation_df.City == 'Aviles',['Lat','Lng']]
vacation_stop1 = vacation_df.loc[vacation_df.City == 'Aras',['Lat','Lng']]
vacation_stop2 = vacation_df.loc[vacation_df.City == 'Puertollano',['Lat','Lng']]
vacation_stop3 = vacation_df.loc[vacation_df.City == 'Lata',['Lat','Lng']]

In [47]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()

In [55]:
start = tuple(start.reshape(1, -1)[0])
end = tuple(end.reshape(1, -1)[0])
stop1 = tuple(stop1.reshape(1, -1)[0])
stop2 = tuple(stop2.reshape(1, -1)[0])
stop3 = tuple(stop3.reshape(1, -1)[0])

In [60]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-longitude pairs
fig = gmaps.figure()
round_trip = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(round_trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
vacation_start_full = vacation_df.loc[vacation_df.City == 'Aviles']
vacation_stop1_full = vacation_df.loc[vacation_df.City == 'Aras']
vacation_stop2_full = vacation_df.loc[vacation_df.City == 'Puertollano']
vacation_stop3_full = vacation_df.loc[vacation_df.City == 'Lata']

In [68]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_full,vacation_stop1_full,vacation_stop2_full,vacation_stop3_full],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,403,Aviles,ES,291.69,clear sky,43.5547,-5.9248,"Palacio de Avilés, Affiliated by Meliá"
1,310,Aras,ES,288.38,clear sky,42.5617,-2.3560,Jardines de Viana Spa
2,533,Puertollano,ES,298.24,clear sky,38.6871,-4.1073,Hotel Puertollano
3,292,Lata,PT,287.22,clear sky,40.1629,-8.3327,Casa Maquia

In [69]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd></dd>{Max Temp} °K</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [70]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))